{
  "extends": [
    "react-app",
    "react-app/jest"
    // "airbnb"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "no-unused-vars": "warn",
    "react/react-in-jsx-scope": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}
